.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #202;
  height: 50px;
  padding: 20px;
  color: white;
}
.App-header-navbrand {
  color: white;
}

.App-title {
  color: #666;
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}

.App-input {
  margin: 5px;
}

.App-Content {
  position: relative;
  width: 300px;
  border-top: solid 4px gray;
  padding: 3em 1em 1em;
  border: 1px solid #d8d8d8;
  border-color: white;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
